/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 3, 2014, 2:26:42 AM
    Author     : nkaru_000
*/

*{
    -fx-font-family: "Copperplate Gothic Light";
    -fx-base: #00CCFF;
    -fx-background: #666666;
    -fx-focus-color: #669966;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    //-fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}


#rectangle{
    -fx-fill: #666666;
}


